@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-mobile {
    height: calc(var(--vh, 1vh) * 100);
  }
}

@layer components {
  .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }
  .select2-search {
    @apply border border-gray-300 rounded;
  }
  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
}

input {
  outline: 0;
}
